@media print {
    .dontprint {
        display: none;
    }
    .print { 
        height:100% !important;
        width:100% !important;
        overflow: hidden !important;
        left:1em !important;
        display: block;
    }
    .print-answer {
        page-break-before: always !important;
        overflow: hidden !important;
        padding:1em;
        position: static !important; 
        box-sizing: content-box !important;
        margin:3em;
    }
    .print-answer H3 {
        margin-top:1em;
    }
    div {
        float: none !important; 
    }
    body {
        overflow: visible;
    }
}
html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif, 'Roboto Mono', monospace;
    background-color: #cecece;
}
h1 {
    font-family: 'Heebo', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
.no-float {
    float:none;
}
.content {
    height: 70%;
    padding-left:1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 80%;
    left:235px;
    float:left;
    position:relative;
    background-color:white;
}
.control-panel {
    background-color:black;
    color:white;
    width:235px;
    margin-left:-1em;
    margin-top:1em;
    margin-bottom:0.5em;
    
    left: 0px;
    display:block;
    float: left;
}
.copyright {
    width:100%;
    padding:0.5em;
    text-align:center;
    background-color:#cecece;
}
.copyright p {
    margin:0;
}
.generate {
    background-color:lightgreen;
    color:black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding:0.5em;
    margin-left:1em;
    margin-bottom:1em;
    position: relative;
    float: left;
    cursor: pointer;
    width: 200px;
}
.generate:hover {
    opacity: 0.80;
    background-color:tomato;
    color:white;
}
.logo-box {
    display:inline-block;
    text-align:left;
    vertical-align:top;
}
.logo-box-icon {
    color: red !important;
    font-size:2em;
}
.logo-desc {
    font-size:0.3em;
    margin-bottom:0px;
}
.logo-gem {
    font-weight:300;
    font-family:Comfortaa;
    font-size:2em;
}
.logo-math {
    font-weight:800;
    font-family:Comfortaa;
    font-size:2em;
}
.left-menu {
    width: 235px;
    background-color: #cecece;
    padding: 1em;
    margin-right: 1em;
    float: left;
    top:0;
    height: 120%;
    position: fixed;
}
.numbers {
    width: 80px;
    margin-bottom:0.5em;
}
.operator {
    margin-bottom:0.5em;
}
.questions {
    width: 70px;
    margin-bottom:0.5em;
}
.top-button {
    background-color:white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding:0.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    position: relative;
    float: left;
    cursor: pointer;
    width: 200px;
}
.top-button:hover {
    opacity: 0.80;
    background-color:tomato;
    color:white;
}
.modal-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size:2em;
}
.modal-body {
    font-size: 1.1em;
}
@media only screen {
    .hideFromScreen {
        display:none;
    }
}