<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="./init.js"></script>
	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/> -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Condensed:400,700|Comfortaa|Open+Sans:300,800|Heebo:900" rel="stylesheet">	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">	 -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138578614-1"></script>
	<link rel="stylesheet" type="text/css" href="./default.css">
	<link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-138578614-1');
	</script>

	<title>MathGem - Free Math Worksheet</title>
	<meta name="description" content="MathGem is a website that provides printable math (arithmetic) worksheets for free. The website does not require any registration or login.">
	<meta name="og:title" property="og:title" content="MathGem - Free Printable Math (arithmetic) Worksheet">
	<meta name="og:description" property="og:description" content="MathGem is a website that provides printable math (arithmetic) worksheets for free. The website does not require any registration or login.">
	<meta name="og:image" property="og:image" content="http://mathgem.ca/assets/mathgem_image.png"/>
	<meta name="og:url" property="og:url" content="http://www.mathgem.ca/"/>
	<link href="http://www.mathgem.ca/" rel="canonical">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-2411226195478272",
			enable_page_level_ads: true
		});
	</script>
</head>
<body>
	<div ng-app="mathApp" ng-controller="appController" class="app no-float">
		<!-- Modal begins here -->
		<div class="modal fade " id="about-mathgem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-calculator-alt"></i> About MathGem</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						<p>MathGem is a website that provides printable math (arithmetic) worksheets for free. We do not require any registration or login.</p>
						<h4><b>For users: inquiries, issues, and feature request</b></h4>
						<p>Hi, I am Thomas. Thanks for visiting MathGem.ca. I initially built this web page for my kids and for my wife. :) I didn't spend too much time on it, so it might have some issues. If you find any problems or if you want any additional features, please contact me by email <a href="mailto:leez79@gmail.com">leez79@gmail.com</a>.</p>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade " id="how-to-print" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-info-square"></i> How To Print Worksheet?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<h4><b>Ctrl + P from the browser to print</b></h4>
					<p>It is already set to print the questions and the answer sheet properly, but I tested this only on Chrome. It can be viewed or printed differently on different browsers. By default, the control panel will not be printed. <span style="color:red;">The answer sheet is not visible on browser, but it will be printed after the questions.</span></p>
					<h4><b>Adjust size</b></h4>
					<p>On the Print pop-up screen, it is possible to change the print settings. If you want to include more questions per page, just change the scale to 70% or to any ratio you want.</p>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
			</div>
		</div>
		<!-- Modal ends here -->
		<div class="dontprint left-menu">
			<div class="logo-box">
				<span class="logo-box-icon"><i class="fas fa-calculator-alt"></i></span><span class="logo-math"> Math</span><span class="logo-gem">Gem</span><br/><span clas="logo-desc">Free Basic Math Worksheet</span>
			</div>
			<div style="display:inline-block;">
				<!-- Control Panel -->
				<div class="control-panel">
					<div style="display:inline-block;position: relative;top: 0px;">
						<div style="background-color:#333333;margin:0;padding:0.5em;width:250px;">
							<span style="font-family:'Open Sans', sans-serif; font-weight: 700;">NUMBER 1</span><br/>
							<span style="font-size:0.8em;padding-left:2em;font-family:'Roboto Mono', monospace">Num of digits: <input type="number" step="1" name="firstDigit" ng-model="model.firstDigit" class="numbers"/></span><br/>
							<span style="font-size:0.8em;padding-left:2em;font-family:'Roboto Mono', monospace">Maximum value: <input type="number" name="maxFirstValue" ng-model="model.maxFirstValue" class="numbers"/></span>
						</div>
						<div style="background-color:#666666;margin:0;padding:0.5em;">
							<span style="font-family:'Open Sans', sans-serif; font-weight: 700;">NUMBER 2</span><br/>
							<span style="font-size:0.8em;padding-left:2em;font-family:'Roboto Mono', monospace">Num of digits: <input type="number" name="secondDigit" ng-model="model.secondDigit" class="numbers"/></span><br/>
							<span style="font-size:0.8em;padding-left:2em;font-family:'Roboto Mono', monospace">Maximum value: <input type="number" name="maxSecondValue" ng-model="model.maxSecondValue" class="numbers"/></span>
						</div>
						<div style="background-color:#333333;margin:0;padding:0.5em;margin-bottom:1em;">
							<span style="font-family:'Open Sans', sans-serif; font-weight: 700;">OTHER OPTIONS</span><br/>
							<span style="font-size:0.8em;padding-left:1em;font-family:'Roboto Mono', monospace">Num of Questions: <input type="number" name="numberOfQuestions" ng-model="model.numberOfQuestions" class="questions"/></span><br/>
							<span style="font-size:0.8em;padding-left:1em;font-family:'Roboto Mono', monospace">Operator: </span>
							<span style="font-size:0.9em;font-family:'Roboto'">
								<select name="operator" ng-model="model.operator" class="operator">
									<option value="Addition">(+) Addition</option>
									<option value="Subtraction">(-) Subtraction</option>
									<option value="Multiplication">(*) Multiplication</option>
									<option value="Division">(/) Division</option>
								</select>
							</span><br/>
							<span style="font-size:0.8em;padding-left:1em;font-family:'Roboto Mono', monospace">
								<input type="checkbox" ng-model="model.isPositive"> Number 1 >= Number 2<br>
							</span>
							<span style="font-size:0.8em;padding-left:1em;font-family:'Roboto Mono', monospace">
								<input type="checkbox" ng-model="model.isNameVisible"> Display and Print Name<br>
							</span>
							<span style="font-size:0.8em;padding-left:1em;font-family:'Roboto Mono', monospace">
								<span style="color:rgb(212, 212, 0);cursor: pointer;" ng-click="decreaseGap()"><i class="fas fa-minus-square"></i></span> Gap between Rows <span style="color:rgb(212, 212, 0);cursor: pointer;" data-toggle="modal" ng-click="increaseGap()"><i class="fas fa-plus-square"></i></span>
							</span>
						</div>
					</div>
					<div class="generate" data-toggle="modal" ng-click="onClickGenerate()"><span><i class="far fa-cogs"></i> Generate</span></div>
					<!-- Print -->
					<div class="generate" data-toggle="modal" onclick="window.print();"><span><i class="fas fa-print"></i> Print</span></div>
				</div>
				<!-- Modal: About MathGem -->
				<div class="top-button" data-toggle="modal" data-target="#about-mathgem"><span><i class="fas fa-calculator-alt"></i> About MathGem</span></div>
				<!-- Modal: About MathGem -->
				<div class="top-button" data-toggle="modal" data-target="#how-to-print"><span><i class="fas fa-info-square"></i> Ctrl+P to Print</span></div>
			</div>
			<span style="font-size:0.8em;">Copyright © mathgem.ca 2019 <br/> Inquiries at leez79@gmail.com </span>
		</div>
		<!-- Main page starts here -->
		<div class="print content">
			<div ng-if="model.isNameVisible == true" style="margin-top:2em;height:3em;display:block;margin-bottom:2em;width:45%;left:50%;position:relative;text-align:left;font-size:2em;">Name:<br/><hr/></div>
			<div ng-repeat="q in model.questions track by $index" style="display: inline-block;margin-right:1em;margin-left:1em;" ng-if="model.operator !== 'Division'">
				<div style="width:120px;margin-top:3em;">
					<div>
						<span style="font-size:0.9em">{{$index+1}} )</span>
					</div>
					<div>
						<div style="display: inline-block;width:10px;"></div><div style="margin:0;padding:0;display: inline-block;width:110px;text-align:right;"><span style="margin:0;padding:0;font-size:2em;">{{q.number_1}}</span></div>
					</div>
					<div style="border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#000000;">
						<div style="display: inline-block;width:10px;font-size:2em;">
							<span ng-if="model.operator == 'Addition'">+</span>
							<span ng-if="model.operator == 'Subtraction'">-</span>
							<span ng-if="model.operator == 'Multiplication'">X</span>
						</div><div style="margin:0;padding:0;display: inline-block;width:110px;text-align:right;"><span style="margin:0;padding:0;font-size:2em;">{{q.number_2}}</span></div>
					</div>
					<div style="height:{{model.distance}}em;">
						<div style="display: inline-block;width:10px;"></div><div style="margin:0;padding:0;display: inline-block;width:110px;text-align:right;"><span style="margin:0;padding:0;font-size:2em;">&nbsp;</span></div>
					</div>
				</div>
			</div>
			<div ng-repeat="q in model.questions track by $index" style="display: inline-block;margin-right:2em;margin-left:2em;" ng-if="model.operator == 'Division'">
				<div style="width:120px;margin-top:3em;">
					<div>
						<span style="font-size:0.9em">{{$index+1}} )</span>
					</div>
					<div style="margin:0;padding:0;display: inline-block;width:40px;text-align:right;"><span style="margin:0;padding-right:5px;font-size:2em;">{{q.number_2}}</span></div>
					<div style="margin:0;padding-left:5px;display: inline-block;text-align:left;border-top-style:solid;border-top-width:1px;border-top-color:#000000;border-left-style:solid;border-left-width:1px;border-left-color:#000000;">
						<span style="margin:0;padding:0;font-size:2em;">{{q.number_1}}</span>
					</div>
					<div style="height:{{model.distance}}em;">
						<span style="margin:0;padding:0;font-size:2em;">&nbsp;</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Answer Sheet starts here -->
		<div class="hideFromScreen print-answer" id="answer-sheet">
			<div class="logo-box">
				<span class="logo-box-icon"><i class="fas fa-calculator-alt"></i></span><span class="logo-math"> Math</span><span class="logo-gem">Gem</span><br/><span clas="logo-desc">Free Basic Math Worksheet</span>
			</div>
			<H3>Answer Sheet</H3>
			<hr/>
			<div ng-repeat="a in model.answers track by $index" style="width:140px;display:inline-block;">
					<span style="font-size:1em"><p>{{$index+1}} ) {{a.answer}}</p></span>
			</div>
			<hr/>
			<div>
				<p>Copyright © mathgem.ca 2019 | Inquiries, Feature Request or Bug Report: leez79@gmail.com </p>
			</div>
		</div>		
	</div>
</body>
</html>